@inject IChatService _chatService
@inject ChatState _chatState
@inject NavigationManager _navigationManager
@implements IAsyncDisposable

<MudDrawer @bind-Open="IsDrawerOpen" Elevation="1" ClipMode="DrawerClipMode.Never" Variant="DrawerVariant.Persistent" Anchor="Anchor.Left" Width="480px">
    <MudContainer Class="d-flex pa-0 overflow-x-hidden" Style="height: 100%; width: 100%;">
        <div class="d-flex flex-column" style="width: 100%;">
            <div class="d-flex flex-1 w-100 overflow-hidden">

                @*------------ left column ------------ *@
                <div id="drawer-left-column" class="d-flex flex-column align-items-center pa-1" style="width:72px; background-color:@(_IsDarkModeEnabled ? "#1e1f22" : "#d6d3d1");">
                    <AssistantPickerButton OnAvatarClick="OnAvatarClick"/>
                    <div class="d-flex flex-column align-items-center flex-grow-1 fixed mb-2" style="bottom: 6px">
                        <MudTooltip Text="New chat" Arrow="true" Placement="Placement.Right" >
                            <MudFab OnClick="CreateNewChat" Size="Size.Medium" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Class="mb-4 ml-2" />
                        </MudTooltip>
                        <MudDivider Class="mx-auto" Style="width:70%;" />
                        <MudTooltip Text="Settings" Arrow="true" Placement="Placement.Right">
                            <MudIconButton OnClick="OnSettingsClick" Style="margin-left: 2px;" Size="Size.Large" Icon="@Icons.Material.Filled.Settings" />
                        </MudTooltip >
                    </div>
                </div>
                <MudDivider Vertical="true" />

                @*------------ right column ------------ *@
                <div id="drawer-right-column" class="p-3 flex-grow-1 overflow-y-auto w-100 h-100" style="background-color:@(_IsDarkModeEnabled ? "#27272f" : "#e7e5e4");">
                    <div class="d-flex flex-column h-100">
                        <MudText Typo="Typo.h5" Class="mx-auto mt-3 mb-2">Stellar Chat</MudText>
                        <MudDivider />
                        <MudText Typo="Typo.h6" Class="mt-2 ml-4">Chat History</MudText>
                        <div class="flex-grow-1 overflow-y-auto w-100 h-100 mt-1">
                            <MudTextField Class="pl-4 pr-4 pb-4" @bind-Value="@SearchText" Label="Find a conversation" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
                            <MudDivider />
                            <MudList Clickable="true" @bind-SelectedItem="SelectedItem" @bind-SelectedValue="SelectedValue" Color="@(_IsDarkModeEnabled ? Color.Tertiary : Color.Dark)">
                                @foreach (var chatSession in ChatSessions)
                                {
                                    <ChatHistoryItem ChatSessionItem="@chatSession" 
                                                     OnChangeTitle="ChangeChatSessionTitle" 
                                                     OnDeleteChat="DeleteChatSession" />
                                }
                            </MudList>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </MudContainer>
</MudDrawer>

@code
{
    [CascadingParameter]
    private bool _IsDarkModeEnabled { get; set; }

    [Parameter]
    public bool IsDrawerOpen { get; set; }

    [Parameter]
    public EventCallback OnAvatarClick { get; set; }

    [Parameter]
    public EventCallback OnSettingsClick { get; set; }

    private MudListItem? SelectedItem { get; set; }
    private object? SelectedValue { get; set; }

    public string SearchText { get; set; } = string.Empty;

    public List<ChatSessionResponse> ChatSessions { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _chatState.ChatIdChanged += SelectNewCreatedChat;

        await LoadChatSessions();
        StateHasChanged();
    }

    private async Task ChangeChatSessionTitle(ChangeTitleInfo changeTitleInfo)
    {
        var (chatId, newTitle) = changeTitleInfo;

        await _chatService.ChangeChatSessionTitle(chatId, newTitle!);

        var chatSession = ChatSessions.SingleOrDefault(x => x.Id == chatId);

        if (chatSession is not null)
        {
            ChatSessions[ChatSessions.IndexOf(chatSession)] = chatSession with { Title = newTitle! };
        }
    }

    private async Task DeleteChatSession(ChatSessionResponse chatSession)
    {
        await _chatService.DeleteChatSession(chatSession.Id);
        ChatSessions.Remove(chatSession);
    }

    private async Task LoadChatSessions()
    {
        var response = await _chatService.BrowseChatSessions();
        ChatSessions = response.Items.ToList();
    }

    private async Task CreateNewChat()
    {
        SelectedItem = null;
        SelectedValue = null;
        _chatState.CreateNewChat();
        _navigationManager.NavigateTo("/");
        await Task.CompletedTask;
    }

    public async ValueTask DisposeAsync()
    {
        _chatState.ChatIdChanged -= SelectNewCreatedChat;
        await Task.CompletedTask;
    }

    private async void SelectNewCreatedChat()
    {
        await LoadChatSessions();

        var chatSessionToSelect = ChatSessions.SingleOrDefault(chat => chat.Id == _chatState.ChatId);

        if (chatSessionToSelect is not null)
        {
            SelectedItem = new MudListItem
            {
                Value = chatSessionToSelect.Id
            };

            SelectedValue = chatSessionToSelect.Id;
        }
    }
}
